@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-white: #FFFDF5;
  --color-black: #121212;
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);

  /* IME v1.1 Color System */
  --color-root: #4B4B4B;
  --color-prefix: #58CC02;
  --color-suffix: #1CB0F6;
  --color-vowel_b: #FF4B4B;
  --color-vowel_o: #FF9600;
  --bg-ime-base: #FDFBF7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Ocultar barra de desplazamiento en toda la aplicación */
* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari y Opera */
}

@layer utilities {
  .HebrewFont {
    font-family: var(--font-hebrew), "SBL Hebrew", "Noto Sans Hebrew", serif;
    font-feature-settings: "mark" 1, "mkmk" 1;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dir-rtl {
    direction: rtl;
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}